extends ../layouts/common.pug

block content
    h1 #{pageName}
    form(action="/users/create", method="POST", class="form-group")
        label Name: 
        input(type="text", name="name", class="ml-2")
        button(class="btn btn-primary ml-2") Create