extends ../layouts/common.pug

block content
    h1 #{pageName}
    a(href="/users/create") Create new
    form(method='GET' action='/users/search', class="d-flex")
        input(type="text", name="findKey", class="form-control")
        button(class="btn btn-primary ml-2") Search
    ul
        each user in users
            li
                span= user.name
                span &nbsp;&nbsp;&nbsp;
                a(href='/users/' + user.id) View user