extends ../layouts/common.pug

block content

    h1 View user
    table.table
        tr
            td
                b Name
            td
                b ID
        tr
            td= users.name
            td= users.id

    p
        a.btn.btn-primary(href="/users") Back to user